/* Simple Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "hel-reg";
  transition: background-color 0.5s, color 0.5s;
}


@font-face {
    font-family: hel-light;
    src: url(Assets/fonts/HelveticaNowDisplay-Light.ttf);
}
@font-face {
    font-family: hel-reg;
    src: url(Assets/fonts/HelveticaNowDisplay-Regular.ttf);
}
@font-face {
    font-family: hel-med;
    src: url(Assets/fonts/HelveticaNowDisplay-Medium.ttf);
}
@font-face {
    font-family: hel-bld;
    src: url(Assets/fonts/HelveticaNowDisplay-Bold.ttf);
}
@font-face {
    font-family: hel-exbld;
    src: url(Assets/fonts/HelveticaNowDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: meg-light;
    src: url(Assets/fonts/Meganfolk-ThinItalic-BF66e2636a52b48.otf);
}
@font-face {
    font-family: meg-reg;
    src: url(Assets/fonts/Meganfolk-Italic-BF66e2636a756c7.otf);
}
@font-face {
    font-family: meg-bld;
    src: url(Assets/fonts/Meganfolk-BoldItalic-BF66e26369e70f6.otf);
}

/* Light/Dark Theme */
:root {
  --bg: #ffffff;
  --text: #111111;
  --primary: #007BFF;

  --fe-pink: #fbcdcd;
  --fe-green: #e3ffd1;
  --fe-blue: #9bf7ff;
  --fe-purple: #e2c9fb;
}
.dark-theme {
  --bg: #121212;
  --text: #ffffff;
  --primary: #FF5722;
}





section{
    position: relative;
    width: 100%;
    height: auto;
}








.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font: 14px hel-bld;
    z-index: 9999;
}
.progress-container {
    width: 20%;
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    position: relative;
}
.progress-line {
    width: 0;
    height: 100%;
    background: #121212;
}
.loader-text{
    margin-top: 5px;
}







.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 95%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  z-index: 10;
  color: #ffffff;

  font: 16px "hel-reg";
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.nav-links a {
  text-decoration: none;
  color: #ffffff;
}

.menu{
    width: 40px;
    height: auto;
    /* border: 1px solid red; */
}

.menu img{
    width: 100%;
    height: auto;
}




/* -------- Hero Section ----------- */

.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-video video {
    width: 100%;
    height: 100%;
}

.hero .hero-cntnt{
    padding: 120px 40px 40px;
    position: absolute;
    inset: 0;
    /* top: 100px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white
}

.hero-cntnt .cntnt-upper{
    width: 60%;
}

.hero-cntnt .cntnt-upper h1{
    font: 80px hel-reg;
    /* text-transform: uppercase; */
    letter-spacing: -2px;
    line-height: 70px;
}

.hero-cntnt p{
    font: 16px hel-light;
    width: 500px;
}

.hero-cntnt .cntnt-lower{
    display: flex;
    justify-content: space-between;
    align-items: bottom;
}

.cta-btn {
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  background-color: white;
  color: black;
  font: 12px hel-reg;
  border-radius: 5px;
  cursor: pointer;
}



/* ---------- Feature Section ---------- */

.sectionHead{
    text-align: center;
}

.sectionHead .subHead{
    width: 80px;
    height: 20px;
    font: 14px hel-med;
    line-height: 20px;
    background: var(--fe-green);
    border-radius: 4px;
    margin: 0 auto;
}

.sectionHead .head{
    font: 32px hel-med;
}

.sectionHead .headDes{
    font: 14px hel-reg;
    width: 480px;
    margin: 0 auto;
}

.features-section {
  padding: 5rem 2rem;
  text-align: center;
  background-color: var(--bg);
}

.feature-tabs {
    width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 6px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.tab-btn {
  padding: 4px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  color: var(--text);
  border-radius: 6px;
  border: none;
  font: 16px hel-med;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-btn.active {
  border: 2px solid rgb(142, 142, 142);
}

.tab-btn .iconImg{
    width: 50px;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.iconImg img{
    width: 60%;
    height: auto;
}

.iconImg1{
    background-color: var(--fe-pink);
}
.iconImg2{
    background-color: var(--fe-green);
}
.iconImg3{
    background-color: var(--fe-blue);
}
.iconImg4{
    background-color: var(--fe-purple);
}

.feature-content {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.feature-box {
  display: none;
  padding: 20px;
  border-radius: 12px;
  background: #f8f8f8;
  transition: opacity 0.5s ease;

  justify-content: space-between;
}

.feature-box .featureCntnt{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-right: 20px;
}

.featureCntnt h3{
    font: 64px meg-light;
}
.featureCntnt p{
    font: 14px hel-med;
}

.featureCntnt p span{
    width: 100px;
}

.feature-box .featureImg{
    width: 40%;
    height: 500px;
    border-radius: 6px;
    overflow: hidden;
    object-fit: cover;
}

.featureImg img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(1.1);
}

.feature-box.active {
  display: flex;
}

.dark-theme .feature-box {
  background: #222;
  color: #fff;
}
